@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthLinks />
            <a href="https://docs.microsoft.com/aspnet/" class="btn btn-info btn-sm"><i class="oi oi-project" /> Acerca de</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
